extends admin.pug

append admin_css
    link(rel="stylesheet", href="/stylesheets/productSearchRes.css")

block admin_main_content
    if productDelete 
      h2(style='color:red;padding-left:40px;') Product Deleted Successfully
    else if productFound
      section#searchproductResultContainer
        h2(style="margin-left:40px;margin-top:5px")  product Data
        form.searched_product_form(method="POST")
            .info_name.input_flex
                .name_container
                    label(for="productName") Product Name
                    br
                    input#product_name(type="text", name="productName" value=productData.productName)
                .category_container
                    label(for="category") Category
                    br
                    select#categories(name="category")
                      each category in categories
                        if category.categoryID==productData.categoryID
                            option(value=category.categoryID,selected) #{category.categoryName} 
                        else
                            option(value=category.categoryID) #{category.categoryName} 
            .info-misc.input_flex
                .info_price 
                    label(for="price") Price
                    br
                    input#product_price(type="number", name="price", step=".01",value=productData.price) 
            .info_description.input_flex
                .info_description 
                    label(for="description")
                    br
                    input#productDescription(type="text", name="description",value=productData.description) 
            section.form_seaction_2 
                .updateproduct_submit_container 
                    button.updateproduct(type="submit", name="update_product", formaction="/admin/product/getProduct/"+productData.productID+"/updateProduct") Update product 
                    span#insertproduct_error
                .deleteproduct_submit_container 
                    button.deleteproduct(type="submit", name="delete_product", formaction="/admin/product/getProduct/"+productData.productID+"/deleteProduct") Delete product 
                    span#insertproduct_error
        if updateproduct
          p(style='color:red;padding-left:40px;') product Updated Successfully
