extends layout.pug 

append css_files
    link(rel="stylesheet", href="/stylesheets/shopProduct.css")

append css_files
    script(src="/javascripts/shopjava.js")

//- This is for test only. Structure to be changed in future


block main_content
    section#shop
        #search-container
            input#search-input(type='text', placeholder='Search...', oninput='searchProducts(this.value)')
            #filter-options
                select#category-select(name='category')
                    if !selectedCategory
                        option(disabled selected) Select Categories
                    each category in categories
                        option(value=category.categoryID)= category.categoryName
                select#Sorting(name='Sort', onchange='sortProducts(this.value)')
                    if !selectedSort
                        option(disabled selected) Sort by
                    option(value='low') Price Low to High
                    option(value='high') Price High to Low
        each product in products
            .card(data-category=product.categoryID)
                img(src=product.imagepath, alt='', style='width:100%')
                h1.name= product.productName
                p.price= `$${product.price}`
                p.description= product.description
                
                // New section to display reviews
                .reviews-container
                    h3 Reviews
                    ul.reviews-list(id=`product-${product.productID}-reviews`)
                        each review in product.reviews
                            li= review.Text + ' - ' + review.rating + ' stars'
                
                // Add to Cart button within a form
                form(method='POST', action='http://localhost:3000/shop/addToCart')
                    input(type='hidden', name='productId', value=product.productID)
                    button(type='submit') Add to Cart
                form(method='POST', action='http://localhost:3000/shop/addTowishlist')
                    input(type='hidden', name='productId', value=product.productID)
                    button(type='submit') Add to Whishlist
